{% extends 'base.html.twig' %}
{% block title %}Formulario Crea Product{% endblock %}
{% block body %}
    <h1>New Product</h1>
    <h2>Se creo un nuevo producto con id: {{ prod }}</h2>
    <a href="{{ path('app_crear') }}" name="volver">ATRÁS</a>

{% endblock %}