{% extends 'base.html.twig' %}
{% block title %}Formulario Calculadora{% endblock %}
{% block body %}
   <h2>RESULTADO: {{ result }}</h2><br>
<a href="{{ path('app') }}" name="VOLVER">VOLVER</a><br>

{% endblock %}